services:
  database:
    image: postgres:18
    container_name: network-lab-postgres
    env_file:
      - ${ENV_FILE:-.env.database}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  guacd:
    image: guacamole/guacd:1.6.0
    container_name: network-lab-guacd
    restart: unless-stopped
    env_file:
      - ${GUAC_ENV_FILE:-.env.guacamole}
    ports:
      - "${GUAC_PORT:-4822}:4822"

  guacamole:
    image: guacamole/guacamole:1.6.0
    container_name: network-lab-guacamole
    depends_on:
      - database
      - guacd
    env_file:
      - ${GUAC_ENV_FILE:-.env.guacamole}
    ports:
      - "${GUAC_HTTP_PORT:-8080}:8080"

volumes:
  postgres_data:
