services:
  database:
    image: postgres:18
    container_name: database
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
      - guac_network

  guacd:
    image: guacamole/guacd:1.6.0
    restart: unless-stopped
    container_name: guacd
    env_file:
      - .env
    ports:
      - "${GUACD_PORT:-4822}:4822"

  guacamole:
    image: guacamole/guacamole:1.6.0
    container_name: guacamole
    restart: unless-stopped
    depends_on:
      database:
        condition: service_healthy
      guacd:
        condition: service_healthy
    env_file:
      - .env
    ports:
      - "${GUAC_PORT:-8080}:8080"
    networks:
      - guac_network

volumes:
  postgres_data:

networks:
  guac_network:
    driver: bridge
